<a href="https://colab.research.google.com/github/semishen/ML100Days/blob/master/Day_004_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [0]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle==1.5.6
!kaggle -v

In [23]:
!unzip application_train.csv.zip

Archive:  application_train.csv.zip
  inflating: application_train.csv

In [25]:
!ls ./

application_train.csv  application_train.csv.zip  kaggle.json  sample_data

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path
dir_data = './'

In [27]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [28]:
print(app_train.shape)

(307511, 122)

In [30]:
app_train.info

<bound method DataFrame.info of         SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
...            ...  ...                         ...
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]>

In [31]:
app_train.describe()

          SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
count  307511.000000  ...               265992.000000
mean   278180.518577  ...                    1.899974
std    102790.175348  ...                    1.869295
min    100002.000000  ...                    0.000000
25%    189145.500000  ...                    0.000000
50%    278202.000000  ...                    1.000000
75%    367142.500000  ...                    3.000000
max    456255.000000  ...                   25.000000

[8 rows x 106 columns]

#### 列出所有欄位

In [39]:
_, cols = app_train.axes
for i in range(len(cols)):
  print('col {} : {}'.format(i, cols[i]))

col 0 : SK_ID_CURR
col 1 : TARGET
col 2 : NAME_CONTRACT_TYPE
col 3 : CODE_GENDER
col 4 : FLAG_OWN_CAR
col 5 : FLAG_OWN_REALTY
col 6 : CNT_CHILDREN
col 7 : AMT_INCOME_TOTAL
col 8 : AMT_CREDIT
col 9 : AMT_ANNUITY
col 10 : AMT_GOODS_PRICE
col 11 : NAME_TYPE_SUITE
col 12 : NAME_INCOME_TYPE
col 13 : NAME_EDUCATION_TYPE
col 14 : NAME_FAMILY_STATUS
col 15 : NAME_HOUSING_TYPE
col 16 : REGION_POPULATION_RELATIVE
col 17 : DAYS_BIRTH
col 18 : DAYS_EMPLOYED
col 19 : DAYS_REGISTRATION
col 20 : DAYS_ID_PUBLISH
col 21 : OWN_CAR_AGE
col 22 : FLAG_MOBIL
col 23 : FLAG_EMP_PHONE
col 24 : FLAG_WORK_PHONE
col 25 : FLAG_CONT_MOBILE
col 26 : FLAG_PHONE
col 27 : FLAG_EMAIL
col 28 : OCCUPATION_TYPE
col 29 : CNT_FAM_MEMBERS
col 30 : REGION_RATING_CLIENT
col 31 : REGION_RATING_CLIENT_W_CITY
col 32 : WEEKDAY_APPR_PROCESS_START
col 33 : HOUR_APPR_PROCESS_START
col 34 : REG_REGION_NOT_LIVE_REGION
col 35 : REG_REGION_NOT_WORK_REGION
col 36 : LIVE_REGION_NOT_WORK_REGION
col 37 : REG_CITY_NOT_LIVE_CITY
col 38 : REG_CITY_NOT_WORK_CITY
col 39 : LIVE_CITY_NOT_WORK_CITY
col 40 : ORGANIZATION_TYPE
col 41 : EXT_SOURCE_1
col 42 : EXT_SOURCE_2
col 43 : EXT_SOURCE_3
col 44 : APARTMENTS_AVG
col 45 : BASEMENTAREA_AVG
col 46 : YEARS_BEGINEXPLUATATION_AVG
col 47 : YEARS_BUILD_AVG
col 48 : COMMONAREA_AVG
col 49 : ELEVATORS_AVG
col 50 : ENTRANCES_AVG
col 51 : FLOORSMAX_AVG
col 52 : FLOORSMIN_AVG
col 53 : LANDAREA_AVG
col 54 : LIVINGAPARTMENTS_AVG
col 55 : LIVINGAREA_AVG
col 56 : NONLIVINGAPARTMENTS_AVG
col 57 : NONLIVINGAREA_AVG
col 58 : APARTMENTS_MODE
col 59 : BASEMENTAREA_MODE
col 60 : YEARS_BEGINEXPLUATATION_MODE
col 61 : YEARS_BUILD_MODE
col 62 : COMMONAREA_MODE
col 63 : ELEVATORS_MODE
col 64 : ENTRANCES_MODE
col 65 : FLOORSMAX_MODE
col 66 : FLOORSMIN_MODE
col 67 : LANDAREA_MODE
col 68 : LIVINGAPARTMENTS_MODE
col 69 : LIVINGAREA_MODE
col 70 : NONLIVINGAPARTMENTS_MODE
col 71 : NONLIVINGAREA_MODE
col 72 : APARTMENTS_MEDI
col 73 : BASEMENTAREA_MEDI
col 74 : YEARS_BEGINEXPLUATATION_MEDI
col 75 : YEARS_BUILD_MEDI
col 76 : COMMONAREA_MEDI
col 77 : ELEVATORS_MEDI
col 78 : ENTRANCES_MEDI
col 79 : FLOORSMAX_MEDI
col 80 : FLOORSMIN_MEDI
col 81 : LANDAREA_MEDI
col 82 : LIVINGAPARTMENTS_MEDI
col 83 : LIVINGAREA_MEDI
col 84 : NONLIVINGAPARTMENTS_MEDI
col 85 : NONLIVINGAREA_MEDI
col 86 : FONDKAPREMONT_MODE
col 87 : HOUSETYPE_MODE
col 88 : TOTALAREA_MODE
col 89 : WALLSMATERIAL_MODE
col 90 : EMERGENCYSTATE_MODE
col 91 : OBS_30_CNT_SOCIAL_CIRCLE
col 92 : DEF_30_CNT_SOCIAL_CIRCLE
col 93 : OBS_60_CNT_SOCIAL_CIRCLE
col 94 : DEF_60_CNT_SOCIAL_CIRCLE
col 95 : DAYS_LAST_PHONE_CHANGE
col 96 : FLAG_DOCUMENT_2
col 97 : FLAG_DOCUMENT_3
col 98 : FLAG_DOCUMENT_4
col 99 : FLAG_DOCUMENT_5
col 100 : FLAG_DOCUMENT_6
col 101 : FLAG_DOCUMENT_7
col 102 : FLAG_DOCUMENT_8
col 103 : FLAG_DOCUMENT_9
col 104 : FLAG_DOCUMENT_10
col 105 : FLAG_DOCUMENT_11
col 106 : FLAG_DOCUMENT_12
col 107 : FLAG_DOCUMENT_13
col 108 : FLAG_DOCUMENT_14
col 109 : FLAG_DOCUMENT_15
col 110 : FLAG_DOCUMENT_16
col 111 : FLAG_DOCUMENT_17
col 112 : FLAG_DOCUMENT_18
col 113 : FLAG_DOCUMENT_19
col 114 : FLAG_DOCUMENT_20
col 115 : FLAG_DOCUMENT_21
col 116 : AMT_REQ_CREDIT_BUREAU_HOUR
col 117 : AMT_REQ_CREDIT_BUREAU_DAY
col 118 : AMT_REQ_CREDIT_BUREAU_WEEK
col 119 : AMT_REQ_CREDIT_BUREAU_MON
col 120 : AMT_REQ_CREDIT_BUREAU_QRT
col 121 : AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [62]:
# investigate TARGET, AMT_INCOME_TOTAL, AMT_CREDIT, DAYS_EMPLOYED
# partial = app_train[['TARGET', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'DAYS_EMPLOYED']]
partial = app_train.iloc[:,[1,7,8,18]]
partial

        TARGET  AMT_INCOME_TOTAL  AMT_CREDIT  DAYS_EMPLOYED
0            1          202500.0    406597.5           -637
1            0          270000.0   1293502.5          -1188
2            0           67500.0    135000.0           -225
3            0          135000.0    312682.5          -3039
4            0          121500.0    513000.0          -3038
...        ...               ...         ...            ...
307506       0          157500.0    254700.0           -236
307507       0           72000.0    269550.0         365243
307508       0          153000.0    677664.0          -7921
307509       1          171000.0    370107.0          -4786
307510       0          157500.0    675000.0          -1262

[307511 rows x 4 columns]

In [63]:
partial.describe()

              TARGET  AMT_INCOME_TOTAL    AMT_CREDIT  DAYS_EMPLOYED
count  307511.000000      3.075110e+05  3.075110e+05  307511.000000
mean        0.080729      1.687979e+05  5.990260e+05   63815.045904
std         0.272419      2.371231e+05  4.024908e+05  141275.766519
min         0.000000      2.565000e+04  4.500000e+04  -17912.000000
25%         0.000000      1.125000e+05  2.700000e+05   -2760.000000
50%         0.000000      1.471500e+05  5.135310e+05   -1213.000000
75%         0.000000      2.025000e+05  8.086500e+05    -289.000000
max         1.000000      1.170000e+08  4.050000e+06  365243.000000

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [64]:
head_10 = app_train.head(10) #first 10 rows
head_10

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0
5      100008       0  ...                       1.0                        1.0
6      100009       0  ...                       1.0                        2.0
7      100010       0  ...                       0.0                        0.0
8      100011       0  ...                       0.0                        1.0
9      100012       0  ...                       NaN                        NaN

[10 rows x 122 columns]