<a href="https://colab.research.google.com/github/semishen/ML100Days/blob/master/Day_006_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [0]:
import os
import numpy as np
import pandas as pd

In [0]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [0]:
import numpy as np
import pandas as pd

In [0]:
train = pd.read_csv('application_train.csv')
test = pd.read_csv('application_test.csv')

In [5]:
#train.head(5)
train.dtypes.value_counts()

float64    103
object      16
int64        3
dtype: int64

In [9]:
train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            6
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [13]:
train_onehot = pd.get_dummies(train)
train_onehot.dtypes.value_counts() #obj 16 -> unit8 141

uint8      141
float64    103
int64        3
dtype: int64

In [15]:
train_onehot.select_dtypes('uint8').head(5)

   NAME_CONTRACT_TYPE_Cash loans  ...  EMERGENCYSTATE_MODE_Yes
0                              1  ...                        0
1                              1  ...                        0
2                              0  ...                        0
3                              1  ...                        0
4                              1  ...                        0

[5 rows x 141 columns]

In [4]:
test.head(5)

   SK_ID_CURR  ... AMT_REQ_CREDIT_BUREAU_YEAR
0      100001  ...                        0.0
1      100005  ...                        3.0
2      100013  ...                        4.0
3      100028  ...                        3.0
4      100038  ...                        NaN

[5 rows x 121 columns]

In [0]:
## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [20]:
sub_train = pd.DataFrame(train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.apply(pd.Series.nunique, axis = 0)

(147541, 1)

WEEKDAY_APPR_PROCESS_START    7
dtype: int64

In [22]:
sub_train_onehot = pd.get_dummies(sub_train)
print(sub_train_onehot.shape)
sub_train_onehot.head()

(147541, 7)

   WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                  0  ...                                     1
1                                  0  ...                                     0
2                                  0  ...                                     0
3                                  0  ...                                     1
4                                  0  ...                                     0

[5 rows x 7 columns]